# Dependency directories
node_modules/
jspm_packages/

# Coverage directory used by tools like istanbul
test/
coverage/

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# Serverless directories
.serverless
.vercel

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*